*{
   font-family: sans-serif;
   background-color: rgb(15, 15, 17);
   color: white;
   letter-spacing: 2px;
   scroll-behavior:smooth ;
}
body{
    margin: 0px;
    overflow-x: hidden;
    
}
#cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid grey;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    background-color: transparent;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0px 0px 5px 0px gray;
}
#loader{
    background-color: rgb(15,15,17); 
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 #loader>span{
    width:20px;
    height: 20px;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 1.5s ease-in-out infinite;
    display: inline-block;
    margin: .5rem;
 }
 #loader >span:nth-child(0){
    animation-delay: 0s;
 }
 #loader >span:nth-child(1){
    animation-delay: 0.2s;
 }
 #loader >span:nth-child(2){
    animation-delay: 0.4s;
 }
 #loader >span:nth-child(3){
    animation-delay: 0.6s;
 }
 #loader >span:nth-child(4){
    animation-delay: 0.8s;
 }
 
 @keyframes animate {
    0%,100%{
        transform: scale(0.2);
        background-color: rgb(8, 95, 95);
    }
    40%{
        transform: scale(1);
        background-color: rgb(15, 223, 223);
    }
    50%{
        transform: scale(1);
        background-color: rgb(8, 95, 95);
    }
 }
#for_head{
    position: sticky;
    top: 0px;
    z-index: 1;
    margin: 0px;
    
}
#navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(27,27,29);
    
    
}
.nav {
    position: relative;
    padding-bottom: 2px;
   
}


.nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px; 
    width: 10px; 
    height: 1.5px;
    background-color: #b3e4e7;
    transform-origin: left; 
    transform: scaleX(0); 
    transition: transform 0.5s;
    
}

.nav:hover::after {
    width: 100%;
    transform: scaleX(1); 
}

a{
    text-decoration: none;
    background-color: rgb(27,27,29); 
}

a:hover{
    color:  rgb(31, 207, 219);
}

#for_nav{
    margin-left: 370px;
}

#home_body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 95vh;
    line-height:40px;
    align-items: center;

}
#image{
    background-size: 530px;
    background-position: center;
    background-image: url("other/new\ image.jpg");
    width: 500px;
    height: 500px;
    margin-left: 10%;
    margin-top: -30px;
    opacity: 0.7;
    border-radius: 35% 65% 47% 53% / 58% 59% 41% 42% ;
   
}

#own_intro{
    margin-left: 125px;
    height: 400px;
    width: 450px;
    }
#intro{
    font-weight: 600;
    font-size: 4vh;
    color:  rgb(31,207,219);
}
#mine{
    font-size: 8vh;
    font-weight: lighter;
}

#specify{
    line-height:30px;
}

i{
    font-size: 4.5vh;
    letter-spacing: 10px;
}
#git{
    color: rgb(21, 59, 133);
}
#insta{
    color: rgb(255,27,68);
}
#in{
    color: rgb(0,119,181);
}
#tele{
    color: rgb(14,162,229);
} 
#git:hover,#insta:hover,#in:hover,#tele:hover{
    transform: scale(1.1);
    transition: 0.2s; 

}

#about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}
#img_abt{
    height: 375px;
    width: 325px;
    margin-left: 180px;
    box-shadow: 0px -0px 15px 2px  rgb(31, 207, 219);
    background-image: url("other/IMG_7159.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }

#about_me{
    width: 550px;
    height: 350px; 
    margin-left: 11%; 
}
#content{
    word-spacing: 3px;
    font-size: 2.25vh;
    margin-top: 30px;
    line-height: 25px;
    text-align: left;
}
#head_me{
    text-decoration: underline;
    margin-top: 0px;
    text-align: start;  

}
#about_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 10px;  
}
#span_me{
    margin-left:36px;
}
#dob{
    margin-left: 34px;
}
#adre{
    margin-left: 15.5px;
}
#code{
    margin-left: 17.5px;
}
.para{
    color: rgb(31,207,219);
}
#cv{
   width: 120px;
   height: 30px;
   margin-left: 195px;
   background-color: rgb(31, 207, 219);
   border: none;
   border-radius:3px;
   color:  rgb(15, 15, 17);
   font-weight: bold;
   cursor: pointer;
  
}
#cv:hover{
    background-color:  rgba(68, 222, 233, 0.658);
    transition: 0.7s;
    color: rgb(255, 253, 253);
}
#Skills{
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    flex-direction: row;
    justify-content: space-around;


}
.skill_set{
    width: 225px;
    height: 225px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(54, 54, 56, 0.308);
    margin-top: 80px;
}
#element{
    background-color:rgb(27,27,29);
    color:  rgb(31,207,219);
    font-size: 15vh;
    margin-left: 50px;
    margin-top: 15px;
    text-align: center;
}
#element1{
    background-color:rgb(27,27,29);
    color:  rgb(31,207,219);
    font-size: 15vh;
    margin-left: 65px;
    margin-top: 15px;
    text-align: center;
}
.fe{
    background-color:rgb(27,27,29) ;
}
#fe_con{
    text-align: center;
    line-height: 20px;
}
#fe_he{
    margin-left: 7px;
    text-decoration: underline;
}
#skill_logo{
    height: 40vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;

}
.img_logo{
    width: 120px;
    height: 120px;
}
#head_project{
    height: 120vh;

}
#my_prohead{
    text-align: center;
    font-size: 5vh;
    text-decoration: underline;
    margin-top:100px;
}
#project{
    display: grid;
    grid-template-columns: 300px 300px; 
    grid-template-rows: 300px 300px;
    column-gap: 300px;
    row-gap: 25px;
    justify-content: center;
     
}
.buttonu{
    position: relative;
}


#cd2,#cd1,#cd3,#cd4{
    width: 300px ;
    height: 250px;
    position: absolute;
    border-radius: 5px;
    opacity: 0.8;
    margin-top: -128px;
    display: none;
    animation: content 2s ;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
}
@keyframes content {
    from{
        margin-top:0px;
    }
    to{
        margin-top: -128px;
    }
}

#disable,#disable1,#disable2,#disable3{
    position: relative;
    margin-left: 270px;
    margin-top: 10px;
    font-size: larger;
    width: 0px;
    cursor: pointer;

}

.detail_para{
    padding: 20px;
}
.sub_project{ 
    box-shadow: 0px -0px 15px 2px rgb(31, 207, 219);
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    background-color: rgb(27, 27, 29);
}

.buttonu{
    display: flex;
    flex-wrap: wrap;
    margin-top: 175px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(27,27,29);
}

.click,#submit{
    width: 80px;
    height: 25px;
    background-color: rgb(31, 207, 219);
    border: none;
    border-radius:3px;
    color:  rgb(15, 15, 17);
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    

}
.click:hover,#submit:hover{
    background-color:  rgba(68, 222, 233, 0.658);
    transition: 0.7s;
    color: rgb(255, 253, 253);
}

#for_clock{
    background-image: url("other/Screenshot\ \(33\).png");
    
}
#for_secure{
    background-image: url("other/Screenshot\ \(34\).png");
}

#for_mytune{
    background-image: url("other/Screenshot\ \(41\).png");
}
#for_acme{
    background-image: url("other/Screenshot\ \(42\).png");
}

#contact{
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
#my_con{
    margin-left: -10px;
    font-size: 5vh;
    text-decoration: underline;
}
#for_con{
    width: 600px;
    height: 250px;
    text-align: center;
    line-height: 50px;

}
textarea{
    resize: none;
    border: 1px solid rgb(31,207,219);
    border-radius: 3px;
    outline: none;
    padding: 10px;
    width: 365px;
    margin-top: 11px;
    background-color: rgb(27,27,29);

}
.input_data{
    border: 1px solid rgb(31, 207, 219);
    height: 10px;
    outline: none;
    border-radius: 3px; 
    padding: 10px;   
    background-color: rgb(27,27,29);
}
#submit{
    outline: none;
}

#menu-icon{
    margin-left: 1000px;
    display: none;
}
#bar{
    display: none;
}
@media only screen and (max-width: 430px) {
    #home_body{
        display: flex;
        flex-direction: row; 
        
    }
    #own_intro{
        margin-left: 30px;
    }
    #image{
        background-size: cover;
        width: 300px;
        height: 300px;
        margin-top: 80px;
        margin-left: 40px;

    }
    #about{
        display: flex;
        flex-direction: row;
        margin-top: 150px;
        /* margin-left: 40px; */
    }
   #img_abt{
    margin-top: 100px;
    margin-left: 0px;
   }
   #skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }
   #for_front{
    margin-top: 450px;
   }
   .para{
    line-height: 25px;
   }
   #cv{
    margin-left: 116px;
   }
   #about_me{
    margin-top: 20px;
    margin-left: 20px;
    width: 360px;
   }
   #skill_logo{
      margin-top: 650px;
   }
   #project{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 300px;
    column-gap: 25px;
    row-gap: 25px;
   }
   .sub_project{
    height: 250px;
   }
  
   #contact{
      margin-top: 600px;
      margin-left: -50px;
   }
   #my_con{
    margin-left: 50px;
 }
   input{
    width: 150px;
   }
   textarea{
    width: 330px;
   }
   #mine{
     font-size:xx-large;
   }
   #bar{
    display: block;
    background-color: rgb(27,27,29);
    font-size: medium;
    cursor: pointer;
    position: relative;
    top: -42px;
    left: 160px; 
   
   }
   
   #navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    
     
   }
   #for_nav{
     margin-left: 0px;
   }
   
   .nav {
    display: none; 
    line-height: 20px;
    border: 1px solid rgb(31,207,219);
    width: 99%;
    text-align: end;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease; 
}
 body{
    overflow-x: hidden;
 } 
 #for_con{
    width: 380px;
    margin-left: 50px;
 }
 #element1{
    margin-left: 60px;
 }
 #element{
    margin-left: 40px;
 }
}




